.main-container {
    display: grid;
    width: 950px
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px 300px;
    background-color: red;
    border: 8px solid black;
}

.container-a {
    background-color: cornflowerblue;
}
.container-b {
    background-color: yellow;
}

.container-c {
    background-color: violet;
}
.container-d {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 2;
    background-color: chartreuse;
}

.small-container1 {
    background-color: skyblue;
    width: 250px;
    height: 150px;
}
.small-container2 {
    background-color: rgb(235, 135, 197);
    width: 250px;
    height: 150px;
}

.row-top {
    background-color: orangered;
    height: 150px;
}

.row-top  {

    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.circle-1 {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: black;
}
.circle-2 {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: hsl(120, 100%, 28%);
}
.circle-3 {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: rgb(20, 17, 230);
}
.circle-4 {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: rgb(99, 30, 190);
}

.row-bottom {
    background-color: purple;
    height: 150px;
}

