/* Variables */

:root {
  --h2: 3em;
  --h2-font-family: sans-serif;
}


.main-container {
  display: grid;
  width: 1000px;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 400px 300px;
  background-color: red;
  border: 8px solid black;
}

.container-a {
  background: rgb(98, 11, 136);
  background: linear-gradient(
    127deg,
    rgba(98, 11, 136, 0.9032760574018127) 8%,
    rgba(204, 167, 207, 0.7250283232628398) 77%
  );
}

.same-size-containers a {
  display: inline-block;
  margin: 50px 0 0 30px;
}
 .container-a a {
     color: black;
 }

.same-size-containers p {
  margin: 0 0 0 30px;
  line-height: 1;
}

.same-size-containers-text {
  font-size: var(--h2);
  font-family: var(--h2-font-family);
  margin: 70px 0 30px 30px;
  color: white;
}

/* .container-c same-size-containers-text {
    font-size: var(--h2);
    margin: 90px 0 30px 30px;
 } */

.container-b {
  background-color: hsl(231, 92%, 19%);
}

.container-b a {
    color: white;
}

.container-c {
    width: 100%;
    position: relative;
    background-color: lightblue;
}

.container-c h2 {
    margin-top: 220px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    

}

.squares-container {
    display: flex; 
    position: relative;
    justify-content: center;
    align-items: center;
    top: 150px;
} 

.square {
    position: absolute;
    border-radius: 20px;
    height: 100px;
    width: 100px;
}

.square-1 {
    background-color: violet;
    z-index: 1;
    opacity: .6;
    transform: rotate(45deg);
}
.square-2 {
    background-color: #3648e6;
    z-index: 2;
    opacity: .6;
}
.square-3 {
    background-color: white;
    position: relative;
    z-index: 3;
    height: 50px;
    width: 50px;
    border-radius: 10px;
}

.container-d {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: span 2;
  background-color: rgba(9, 9, 211, 0.89);
}

.small-container1 {
    background-color: hsl(231, 92%, 19%);
  width: 250px;
  height: 150px;

}

.small-container1 h2 {
    color: white;
    font-size: 2em;
    margin: 90px 0 0 30px;
    color: #8fd82f;
    font-family: var(--h2-font-family);
}
.small-container2 {
  background-color: white;
  width: 250px;
  height: 150px;
}

.small-container2 h2 {
    color: blue;
    font-size: 1.5em;
    font-family: var(--h2-font-family);
}
.two-h2s {
margin: 80px 0 0 30px;
font-family: var(--h2-font-family);
}


.row-top {
    background-color: hsl(231, 92%, 19%);
  height: 150px;
}

.row-top {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.circle-1 {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: orangered;
}
.circle-2 {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: hsl(120, 100%, 28%);
}
.circle-3 {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: rgb(20, 17, 230);
}
.circle-4 {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: rgb(99, 30, 190);
}

.row-bottom {
  background-color: #6f6de9dc;
  height: 150px;
}
